<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-3">{{ message }}</h1>

        <Playlists />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import "bootstrap/dist/css/bootstrap.css";
import Vue, { defineComponent } from "vue";
import Playlists from "./views/Playlists.vue";

// export default Vue.extends({
export default defineComponent({
  components: { Playlists },
  data() {
    return { message: "MusicApp" };
  },
});
</script>
