<template lang="html">
  <div>
    <!-- .list-group>.list-group-item.list-group-item-action{$. Playlist $$$}*3 -->
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action"
        :class="{ active: playlist.id == selectedId }"
        v-for="(playlist, i) of playlists"
        :key="playlist.id"
        @click="select(playlist.id)"
      >
        {{ i + 1 }}. {{ playlist.name }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: ["playlists", "selectedId"],
  // https://v3.vuejs.org/guide/migration/emits-option.html#migration-strategy
  emits: ["selected"],
  methods: {
    select(id: string) {
      this.$emit("selected", id);
    },
  },
  data() {
    return {};
  },
});
</script>
<style lang="css"></style>
