<template lang="html">
  <div>
    <!-- $0.__vueParentComponent.data.playlist.name = 'test' -->
    <!-- dl>(dt{Name:}+dd{Playlist 123})*3 -->
    <dl v-bind:title="playlist.name" :data-id="'playlist_' + playlist.id">
      <dt>Name:</dt>
      <dd>{{ playlist.name }}</dd>

      <dt>Public:</dt>
      <!-- <dd :style="playlist.public ? { color: 'red' } : { color: 'green' }"> -->
      <!-- <dd :style="{ color: playlist.public ? 'red' : 'green' }"> -->
      <!-- <dd :class=" (playlist.public ? 'public' : 'private') + ' ' + (playlist.description ? 'public' : 'private' )"> -->
      <dd
        :class="[
          {
            public: playlist.public,
            private: !playlist.public,
          },
        ]"
      >
        {{ playlist.public ? "Yes" : "No" }}
      </dd>

      <dt>Description:</dt>
      <dd v-html="playlist.description"></dd>
    </dl>

    <button class="btn btn-info" @click="$emit('edit')">Edit</button>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Playlist } from "./Playlist";

export default defineComponent({
  // props: ["playlist"],
  props: {
    playlist: {
      required: true,
      // default: ...
      // validator(value){ return true }
      type: Object as PropType<Playlist>,
    },
  },
  emits: ["edit"],
  data() {
    return {
      // playlist: {
      //   id: "123",
      //   name: "Playlist ABC",
      //   public: false,
      //   description: "Best playlist <b>abc</b>",
      //   tracks:[{...}]
      // },
    };
  },
});
</script>

<style lang="css">
.public {
  color: red;
}
.private {
  color: green;
}
</style>
