<template lang="html">
  <div>
    <form action="/">
      <div class="form-group mb-3">
        <label for="playlist_name">Name:</label>
        <input
          type="text"
          name="playlist_name"
          id="playlist_name"
          class="form-control"
          placeholder="Name"
          aria-describedby="helpId"
          v-model="draft.name"
        />
        <!-- :value="draft.name"
          @input="draft.name = ($event as any).target.value" -->
        <small id="helpId" class="text-muted">0 / 70</small>
      </div>

      <div class="form-check mb-3">
        <label class="form-check-label">
          <input
            type="checkbox"
            class="form-check-input"
            name="playlist_public"
            id="playlist_public"
          />
          Public
        </label>
      </div>

      <div class="form-group mb-3">
        <label for="playlist_description">Description:</label>
        <textarea
          class="form-control"
          name="playlist_description"
          id="playlist_description"
          rows="3"
        ></textarea>
      </div>
    </form>

    <button class="btn btn-danger" @click="$emit('cancel')">Cancel</button>
    <button type="submit" class="btn btn-primary" @click="submit">Save</button>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Playlist } from "./Playlist";

export default defineComponent({
  // props: ["playlist"],
  props: {
    playlist: {
      // required: true,
      default: {
        id: "",
        name: "",
        description: "",
        public: false,
      } as Playlist,
      // validator(value){ return true }
      type: Object as PropType<Playlist>,
    },
  },
  emits: ["cancel", "save"],
  methods: {
    submit() {
      this.$emit("save", this.draft);
    },
  },
  data() {
    return {
      // draft: this.playlist // not a copy - reference
      // draft: Object.assign({}, this.playlist)
      // draft: {...this.playlist, tracks: [ ...this.playlist.tracks ]}
      // draft: JSON.parse( JSON.stringify( this.playlist) )
      draft: {...this.playlist}
    };
  },
});
</script>
<style lang="css"></style>
